/* .Devider {
  border: 0; 
  border-top: 2px solid white; 
  margin: 20px auto; 
  justify-content: center;
  display: flex;
  width: 600px;
  background: linear-gradient(to right, transparent, black, transparent);
} */

.Devider {
  margin: 20px auto 60px auto;
  width: 70%;
  height: 2px; /* Thickness of the line */
  background: linear-gradient(
    to right,
    transparent,
    rgb(255, 255, 255),
    transparent
  );
}
