.profilePicture {
  width: 150px;
  height: 150px; /* Equal width and height for a perfect circle */
  border-radius: 50%; /* Makes the image round */
  border: rgba(255, 255, 255, 0.578) 3px solid;
  box-shadow: white 0px 0px 15px;
  object-fit: cover; /* Ensures the image covers the area without distortion */
  transition: 0.2s;
}

.profilePicture:hover {
  box-shadow: white 0px 0px 25px;
}

.h {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

.InfoText {
  color: white;
  padding-top: 20px;
  text-align: center; /* Centers the text horizontally */
  margin: 0 auto; /* Optional: Centers the element itself if needed */
  max-width: 300px; /* Optional: Limit the width of the paragraph to keep it neat */
  padding-bottom: 5%;
}

.name {
  color: white;
}
